<div id="artist-inner">

	<%= form_for(@artist) do |f| %>
		<%= f.label :artist_name, :class=>'label' %>
		<%= f.text_field :artist_name, id: "artist_artist_name" %>
		<%= f.submit '保存',:class=>"create-button" %>
	<% end %>

</div>

