<h2>入荷履歴</h2>
<p>新着順▼</p>
<table>
  <thead
  <tr>
    <th>入荷日時</th>
    <th>商品名</th>
    <th>入荷個数</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= arrival.created_at %></td>
      <td><%= @product.name %></td>
      <td><%= arrival.arrival_amount %></td>
      <td><%= %></td>
    </tr>
  </tbody>
</table>
