// Place all the styles related to the Administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box1 {
    font-size: 30px;
    margin-top: 0;
}

.array {
    text-align: right;
}

.purchase-history-lists {
    margin-top: 0;
}

h2 {
    font-size: 35px;
}

.title {
    text-align: left;
    margin-bottom: 0;
}

h1{
	margin-top: 200px;

}
.edit-user-info h4{
    font-size: 30px;
}
.box1 {
	width: 80%;
}