/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require font-awesome
 */



/*共通部分*/

/*子要素をfloat状態にした時、親要素に.clearfixをつけて親要素の高さが0になるのを防ぐ*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


h2{
	text-align:center;
	margin:100px 0px 100px 0px;
	/*GoogleFonts 自家製フォント工房*/
	font-family: "M PLUS Rounded 1c";
	font-size:30px;
}

li{
	list-style: none;
}

.link{
	text-decoration:none; /*リンクの下線をなくす。<a>タグに使用*/
}


/*ヘッダー部分*/

.header{
	height:100px;
	background-color: #ffff00;
}

.header-left{
	float:left;
	padding:40px 50px;
}

.header-right{
	float:right;
}

.menu-item{
	float:left;
	padding:40px 50px;
	font-size:18px;
	font-family: "M PLUS Rounded 1c";
}


/*productのindex部分*/

.contents-item{
	text-align:center; /*各要素を中央寄せ*/
	float: left;
	width:25%;
}


