<h2>商品一覧</h2>
<div>
    <% @products.each do |product| %>
		<%= attachment_image_tag product, :product_image, fallback: "no_image.jpg", size: "100x100" %>
        <%= link_to product.product_name, product_path(product.id) %>
        <%= (product.price*1.1).floor %>円（税込み）
        <%# .floorは小数点以下切り捨て %>
        <%= product.stock.stock_amount %>枚
    <% end %>
</div>